/*body {*/
/*    font-family: Arial, sans-serif;*/
/*}*/

/*.container, .menu, .footer {*/
/*    margin-top: 20px;*/
/*	background-color: white;*/
/*	max-width: 900px;*/

/*}*/
/*body.custom-background {*/
/*	background-image: url("/static/image/background.jpg");*/
/*	background-position: center top;*/
/*	background-size: auto;*/
/*	background-repeat: no-repeat;*/
/*	background-attachment: fixed;*/
/*}*/
.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #2d323a;
}

.uk-navbar-nav > li > a[href='#'] {
    cursor: pointer;
}

@media (min-width: 960px) {
    .uk-navbar-nav {
        gap: normal;
    }
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: grey;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -40px; /* adjust this value as per your need */
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}
.carousel-indicators button {
    background-color: grey;
}
.carousel-indicators [data-bs-target] {
    background: grey;
}