<!-- templates/base.html -->
<!DOCTYPE html>
<html>
{% include "head.html" %}
<body class="home page-template-default page page-id-72 tm-isblog wp-front_page wp-page wp-page-72 custom-background">
<div class="tm-page-bg">
    <div class="uk-container uk-container-center">
        <div class="tm-container">
            <div class="tm-top-block tm-grid-block">
                {% include "menu.html" %}
            </div>
            <section class="tm-top-a uk-grid tm-grid-block" data-uk-grid-match="{target:'> div > .uk-panel'}">
                {% load slider_tags %}
                {% render_slider_items page.id '["main_slider"]' %}
            </section>
            <div class="tm-middle uk-grid">
                {% block content %}{% endblock %}
            </div>
        </div>
        <footer class="tm-footer">
            {% include "footer.html" %}
        </footer>
    </div>
</div>
</body>
</html>
