<div class="uk-section uk-section-default tm-top-block tm-grid-block">
    <nav class="uk-navbar-container uk-navbar tm-navbar" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav uk-hidden-small">
                <li class="uk-active"><a href="/">⌘</a></li>
                <li class="uk-parent">
                    <a href="#">Лотереї Америки</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="/mega-millions/">Mega Millions</a></li>
                            <li><a href="/powerball/">Powerball</a></li>
                            <li><a href="/pick-6-lottery/">Pick 6 Lottery</a></li>
                            <li><a href="/mega-sena/">Mega Sena</a></li>
                            <li><a href="/canada-lotto-649/">Лотерея Канади 6/49</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
