<!-- templates/menu.html -->
{#<div class="tm-top-block tm-grid-block">#}
{#    <nav class="tm-navbar uk-navbar">#}
{#        <ul class="uk-navbar-nav uk-hidden-small">#}
{#            <li class="uk-active"><a href="/">⌘</a></li>#}
{#            <li class="uk-parent" data-uk-dropdown="{}" aria-haspopup="true" aria-expanded="false">#}
{#                <a href="/american-lotteries/">Лотереї Америки</a>#}
{#                <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">#}
{#                    <div class="uk-grid uk-dropdown-grid">#}
{#                        <div class="uk-width-1-1">#}
{#                            <ul class="uk-nav uk-nav-navbar">#}
{#                                <li><a href="/mega-millions/">Mega Millions</a></li>#}
{#                                <li><a href="/powerball/">Powerball</a></li>#}
{#                                <li><a href="/pick-6-lottery/">Pick 6 Lottery</a></li>#}
{#                                <li><a href="/mega-sena/">Mega Sena</a></li>#}
{#                                <li><a href="/canada-lotto-649/">Лотерея Канади 6/49</a></li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </li>#}
{#            <button class="uk-button uk-button-default" type="button">Hover</button>#}
<div class="uk-section uk-section-default tm-top-block tm-grid-block">
    <nav class="uk-navbar-container uk-navbar tm-navbar" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav uk-hidden-small">
                <li class="uk-active"><a href="/">⌘</a></li>
                <li class="uk-parent">
                    <a href="#">Лотереї Америки</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="/mega-millions/">Mega Millions</a></li>
                            <li><a href="/powerball/">Powerball</a></li>
                            <li><a href="/pick-6-lottery/">Pick 6 Lottery</a></li>
                            <li><a href="/mega-sena/">Mega Sena</a></li>
                            <li><a href="/canada-lotto-649/">Лотерея Канади 6/49</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>

{#            <li class="uk-parent" data-uk-dropdown="{}" aria-haspopup="true" aria-expanded="false" tabindex="1"><a#}
{#                    href="/uk-lotteries/">Лотереї Англії</a>#}
{#                <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">#}
{#                    <div class="uk-grid uk-dropdown-grid">#}
{#                        <div class="uk-width-1-1">#}
{#                            <ul class="uk-nav uk-nav-navbar">#}
{#                                <li><a href="/uk-national-lottery/">UK National Lottery</a></li>#}
{#                                <li><a href="/thunderball/">Thunderball</a></li>#}
{#                                <li><a href="/euro-millions/">Euromillions UK</a></li>#}
{#                                <li><a href="/irish-lotto/">Irish lotto</a></li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </li>#}
{#            <li class="uk-parent" data-uk-dropdown="{}" aria-haspopup="true" aria-expanded="false"><a#}
{#                    href="/australian-lotteries/">Австралійські лотереї</a>#}
{#                <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">#}
{#                    <div class="uk-grid uk-dropdown-grid">#}
{#                        <div class="uk-width-1-1">#}
{#                            <ul class="uk-nav uk-nav-navbar">#}
{#                                <li><a href="/oz-powerball/">Powerball Australia</a></li>#}
{#                                <li><a href="/oz-lotto/">OZ Lotto</a></li>#}
{#                                <li><a href="/saturday-national-lotto/">Saturday National lotto</a></li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </li>#}
{#            <li class="uk-parent" data-uk-dropdown="{}" aria-haspopup="true" aria-expanded="false"><a#}
{#                    href="/european-lotteries/">Лотереї Європи</a>#}
{#                <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">#}
{#                    <div class="uk-grid uk-dropdown-grid">#}
{#                        <div class="uk-width-1-1">#}
{#                            <ul class="uk-nav uk-nav-navbar">#}
{#                                <li><a href="/superenalotto/">SuperEnalotto</a></li>#}
{#                                <li><a href="/lotto-germany/">Lotto Germany</a></li>#}
{#                                <li><a href="/french-lotto/">French Lotto</a></li>#}
{#                                <li><a href="/euromillions-2/">Euromillions</a></li>#}
{#                                <li><a href="/eurojackpot/">EuroJackpot</a></li>#}
{#                                <li><a href="/la-primitiva/">La primitiva</a></li>#}
{#                                <li><a href="/el-gordo/">El Gordo de Navidad</a></li>#}
{#                                <li><a href="/?page_id=1126">Austria Lotto</a></li>#}
{#                                <li><a href="/bonoloto/">BonoLoto</a></li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </li>#}
        </ul>
    </nav>
</div>
