{% load static %}
<div id="robotcarousel" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-indicators">
        {% for item in images %}
            <button type="button" data-bs-target="#robotcarousel" data-bs-slide-to="{{ forloop.counter0 }}"
                    {% if forloop.first %}class="active" aria-current="true"{% endif %}
                    aria-label="Slide {{ forloop.counter }}"></button>
        {% endfor %}
    </div>

    <div class="carousel-inner">
        {% for item in images %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{ item.image.url }}" alt="{{ item.title }}" class="d-block mx-auto">
                <div class="d-flex flex-column align-items-center justify-content-center text-center">
                    <h2>{{ item.title }}</h2>
                    <div class="my-3">{{ item.description }}</div>
                </div>
            </div>
        {% endfor %}
    </div>


    <button class="carousel-control-prev" type="button" data-bs-target="#robotcarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#robotcarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
</div>